# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lab_collect_dataset\rgbd_agumentation_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
